:root {
    --greyish-blue: #323b60;
    --light-grey: #b4b4b4;
    --light-blue: #f3f5f9;
    --soft-blue: #5ca3ff;
    --light-magenta: #f9cce3;
    --blue-grey: #cfd6dc;

    --font-heading: 'Raleway', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --font-ui: 'Nunito Sans', sans-serif;
}

.signup-main {
    padding: 1.5rem 5%;
    background-color: var(--light-blue);
    font-family: var(--font-body);
}

.signup-section {
    background-color: var(--blue-grey);
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
}

h1 {
    font-family: var(--font-heading);
    text-align: center;
    margin-bottom: 1rem;
}

.extra-text {
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 2rem;
    font-style: italic;
}

.extra-text a {
    color: var(--soft-blue);
    text-decoration: underline;
    font-weight: bolder;
}



form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 0.75rem;
    border: 1px solid var(--light-grey);
    border-radius: 0.5rem;
    background-color: #fff;
}

input:focus {
    outline: none;
    border-color: var(--soft-blue);
    box-shadow: 0 0 0 2px rgba(92, 163, 255, 0.2);
}

.account-type {
    border: none;
    margin-top: 1rem;
}

.account-type legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.account-type label {
    display: flex;
    flex-direction: row;
    justify-content: centre;
}

.signup-btn {
    background-color: var(--soft-blue);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--font-ui);
    font-weight: bold;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: var(--light-magenta);
    color: var(--greyish-blue);
}

.signup-info {
    background-color: var(--blue-grey);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05);
}

.benefits-list {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.benefits-list li {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon-benefit {
    color: var(--soft-blue);
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 1rem;
    text-align: center;
}



/*for desktop screens*/
@media screen and (min-width: 768px) {
    .signup-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}